@import "../../main.scss";

.menu-toggle {
  position: fixed;
  right: 0;
  top: 3rem;
  background-color: $brand-accent;
  display: flex;
  align-items: center;
  height: 35px;
  padding-right: 10%;
  z-index: 299;
  overflow: hidden;

  @media (min-width: $medium) {
    top: 6rem;
  }

  &-btn {
    color: $text-secondary;
    height: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: inherit;
    letter-spacing: 2px;
    padding-left: 1rem;
  }
}
