@import "../../main.scss";

.project-preview {
  display: flex;
  min-height: 400px;
  margin-bottom: 8rem;

  &:last-child {
    margin-bottom: 0;
  }

  &-info {
    flex: 1;
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
  }

  &-backdrop {
    padding-left: 3rem;
    flex: 1;
  }

  &-heading {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.2rem;
  }

  &-technologies {
    display: block;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.2rem 0;
  }

  &-summary {
    font-weight: inherit;
    color: $text-tertiary;
    margin: 1.2rem 0;
  }

  &-list {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3.8rem;
  }

  &-item {
    margin: 0.5rem 0;
    margin-right: 2.5rem;
  }
}
