@import "../../styles/variables";

.innerlink {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  padding: 1rem 0;
  flex-grow: 0;
  transition: all 200ms ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $bg-secondary;
    transition: background-color 200ms ease;
  }

  &:hover {
    color: $brand-secondary;
  }

  &:hover::after {
    background-color: $brand-secondary;
  }
}
