@import "../../styles/variables";

.button {
  font-size: 1.5rem;
  font-weight: inherit;
  padding: 1.4rem 2rem;
  border: 1px solid $bg-secondary;
  background-color: transparent;
  color: $text-primary;
  transition: all 200ms ease;

  &:hover {
    color: $text-secondary;
    border: 1px solid $brand-secondary;
    background-color: $brand-secondary;
    transition: all 200ms ease;
  }

  @media (min-width: $medium) {
    padding: 1.8rem 2.4rem;
  }

  @media (min-width: $large) {
    padding: 2rem 2.6rem;
  }
}
