// $bg-primary: #151515;
// $bg-secondary: #ffffff;
// $text-primary: #ffffff;
// $text-secondary: #151515;
// $text-tertiary: #888888;
// $brand-primary: #065c6f;
// $brand-secondary: #ffbb91;
// $brand-tertiary: #64958f;

$bg-primary: #151515;
$bg-secondary: #ffffff;
$bg-tertiary: #444a4e;
$text-primary: #ffffff;
$text-secondary: #151515;
$text-tertiary: #444a4e;
$brand-primary: #fee2b3;
$brand-secondary: #ffffff;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
