@import "../../styles/variables";

.navbar {
  position: absolute;
  right: 5%;
  top: 5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 35px;
  width: auto;
  z-index: 199;
  overflow: hidden;

  &-mobile {
    display: flex;
    align-items: center;

    @media (min-width: $medium) {
      display: none;
    }
  }

  &-desktop {
    display: none;

    @media (min-width: $medium) {
      display: flex;
      align-items: center;
    }
  }

  &-link {
    display: inline-block;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 1rem;
    color: $text-tertiary;

    &:hover {
      color: $text-primary;
    }
  }

  &-btn {
    display: inline-block;
    padding: 1rem;
    margin: 0 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $text-tertiary;

    &:hover {
      color: $text-primary;
    }
  }

  &-spacer {
    color: $text-primary;
    font-weight: 700;
    margin: 0 0.5rem;
  }
}
