.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9rem;
  width: 100%;
  z-index: 100;

  padding: 0 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo svg {
  width: 40px;
}

.navbar-toggle {
  padding: 0.5rem;
  color: var(--text-secondary);
}

.navbar-toggle:hover {
  color: var(--text-primary);
}
