@import "../../styles/variables";

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  background-color: $brand-primary;
  overflow: hidden;
  z-index: 599;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 0 50px rgba(0, 0, 0, 1);

  &-close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    z-index: 799;
    font-size: 1.5rem;
    color: $text-secondary;
    padding: 0.5rem;
    cursor: pointer;
  }

  &-list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 0;
    margin: 2.8rem 0;
  }

  &-item {
    padding: 0.8rem 0;
  }

  &-name {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-secondary;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    overflow: hidden;

    &:hover .mobile-nav-name {
      color: $text-primary;
    }
  }
}
